#triste{
    border: 1px solid red;
    background: gray;
}

#nextPiece{
    display: flex;
}

.row{
    margin: 0 50px;
    width: 160px;
}

.container{
    display: flex;
}

.game-data{
    padding-left: 50px;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
}

.little-square{
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0);
}

label{
    font-size: 60px;
    font-family: 'Acme', sans-serif;
}