#triste{
    border: 1px solid red;
}

#nextPiece{
    display: flex;
}

.row{
    margin: 0 50px;
}

.container{
    display: flex;
}

.game-data{
    padding-left: 50px;
}

.little-square{
    width: 20px;
    height: 20px;
    background: gray;
}